* {
    font-family: system-ui;
    text-align: center;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(179, 168, 168);
}

header,
nav ul {
    display: flex;
    padding: 15px;
    padding-top: 15px;
    float: right;
    font-size: 20px;
    justify-content: space-between;
    background-color: darkred;
    color: white;
}

header h1 {
    display: flex;
    font-size: 40px;
}

nav ul li {
    padding: 10px 15px;
    margin: 0px 5px;
}

a {
    color: white;
    text-decoration: none;
}

main {
    display: inline-block;
}
main h2 {
    font-size: 30px;
    text-decoration: underline;
    padding: 10px;
}

.direction {
    justify-content: flex-end;
    list-style-type: none;
}

.aboutme {
    display: inline-block;
}

.profilephoto {
    float: left;
    margin-right: 25px;
}
.content1 {
    margin-bottom:20px;
    padding:50px;
    height:300px;
    background-color: darkred;
    color: white;
}

.content1 img {
    display: block;
    max-height: 275px;
    border: rgb(59, 17, 17) solid 20px;
}

.text {
    margin-top: 20px;
}

.myweb {
    display: flex;
    border-color: black;
}

.whoami {
    border-top: #555 10px solid;
}

#webapp {
    border: 10px solid #555; 
}

#contact {
    margin-bottom:20px;
    padding:50px;
    height:200px;
    background-color: darkred;
    color: white;
}

.contact {
    list-style: none;
    text-decoration: underline;
}

.myweb {
    position: relative;
}

.myweb img {
    display:block;
}

.imagetitle {
    color:darkred;
    font-style: italic;
    padding: 2px;
    text-align: center;
}